html {
    background-image: url(../images/9408.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 1260px;
    font-family: 'Arial', Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-image: url(../images/alice_background.jpg);
    background-position: center;
    background-size: 190%;
    margin: 20px auto; /* Center the body horizontally */
    overflow: hidden; /* Hide content that exceeds the viewport size */
    background-blend-mode: multiply;
    padding-bottom: 20px;
}

header {
    background-color: rgb(0, 0, 0);
    background-size: cover;
    filter: contrast(100%);
    width: 100%;
    position: sticky;
    border-bottom: 5px solid #000000;
    padding-left: 300px;
}

p {
    color: #ffffff;
    width: fit-content;
    padding: 10px;
}

#main-logo {
    width: fit-content;
    border: 5px solid #ffffff;
    background-color: rgb(0, 0, 0);
}

#main-nav ul {
    list-style: none;
}

#main-nav ul li {
    display: inline;
    text-align: justify;
    padding: 10px;
    margin-left: 30px;
}

#main-nav ul li p {
    display: inline;
    padding: 10px;
    text-align: left;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

input {
    display: none;
}

#main-navv {
    align-items: center;
    padding-bottom: 30px;
}

#main-navv label img {
    margin-left: 120px;
    margin-top: -50px;
    display: flex;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all .5s ease;
}

#main-navv input:checked ~ label img {
    transform: rotate(90deg);
}

/* ====================== DJ Section ====================== */
#dj-main {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#dj-spin {
    text-align: center;
}

.dj {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 900px;
}

#dj-box {
    display: flex;
    width: fit-content;
}

.dj ul {
    margin: 10px;
}

.dj li {
    margin: 10px 18px;
    text-align: center;
    overflow: hidden;
}

.dj li div {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    overflow: hidden;
    transform: rotate(-20deg);
}

.dj li img {
    max-width: 100%;
}

.jockey {
    position: relative;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* ====================== Drag Section ====================== */
#instruments {
    background-color: rgba(85, 83, 83, 0.363);
    border: 4px solid #000000;
    border-radius: 12px;
    width: fit-content;
    height: 150px;
    margin-left: 20px;
}

#character-nav {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.characters {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.characters li {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 10px 8px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    font-size: 14px;
    border-radius: 12px;
    border: 4px solid #000000;
    padding-top: 5px;
    text-align: center;
    cursor: grab;
}

.characters li div {
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin: 0 auto 16px auto;
}

.characters li img {
    max-width: 100%;
}

/* ====================== Mixer Control ====================== */
#mixer-control {
    background-color: rgba(85, 83, 83, 0.363);
    border: 4px solid #000000;
    border-radius: 12px;
    width: 200px;
    height: 70px;
    grid-row: 2/2;
    margin-top: -200px;
    margin-left: 150px;
}

#control-nav {
    width: 350px;
    display: flex;
}

.media-control {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.media-control li {
    position: relative;
    width: fit-content;
    height: 40px;
    margin: 10px 8px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    border: 4px solid #000000;
    padding-top: 5px;
    text-align: center;
    cursor: pointer;
}

.media-control li div {
    width: 25px;
    height: 25px;
    border: 2px solid white;
    overflow: hidden;
    justify-content: space-around;
    display: flex;
}

.media-control li img {
    max-width: 100%;
    align-content: center;
    display: flex;
}

/* ====================== Drop Section ====================== */
#drop-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#drop-instrument {
    background-color: rgba(85, 83, 83, 0.363);
    border: 4px solid #000000;
    border-radius: 12px;
    width: fit-content;
    height: 150px;
    margin: 10px;
    padding: 10px;
}

#drop-nav {
    width: 600px;
    display: flex;
    justify-content: center;
}

.drop-box {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.drop-box li {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 10px 8px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    font-size: 14px;
    border-radius: 12px;
    border: 4px solid #000000;
    padding-top: 5px;
    text-align: center;
    cursor: grab;
}

.drop-box li div {
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin: 0 auto 16px auto;
}

.drop-box li img {
    max-width: 100%;
}

/* ====================== Music Effect ====================== */
#effect-section {
    width: fit-content;
    height: fit-content;
    margin-left: 15px;
    margin-top: -100px;
}

#effect-nav {
    width: fit-content;
    display: flex;
}

.effect-control {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.effect-control li {
    font-size: small;
    position: relative;
    width: 48px;
    height: 45px;
    margin: 10px 8px;
    background-color: rgb(8, 227, 73);
    color: #000000;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.effectshadow {
    box-shadow: inset 6px -6px 6px #00000036, 4px -2px 4px 0px #000000;
}

.dropeffectshadow {
    box-shadow: inset 6px -6px 6px #00000036, 4px -2px 4px 0px #000000;
    animation: shadowColorChange 6s ease-out forwards infinite;
}

@keyframes shadowColorChange {
    0% {
        box-shadow: inset 6px -6px 6px #ff0000, 4px -2px 4px 0px #000000;
    }
    50% {
        box-shadow: inset 6px -6px 6px #00ff00, 4px -2px 4px 0px #000000;
    }
    100% {
        box-shadow: inset 6px -6px 6px #0000ff, 4px -2px 4px 0px #000000;
    }
}

/* ====================== Footer ====================== */
footer {
    display: flex;
    justify-content: space-between;
    border-top: 3px solid #000000;
    background-color: #ffffff;
    color: #000000;
    padding: 0 10px;
}

footer p {
    margin: 5px 0;
}

